<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Client List</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div id="topPanel" class="wrapper wrapper-content animated fadeInRightBig">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-sm">
                        <div id="clientGrid" ui-grid="clientGridOptions"  ui-grid-pagination ui-grid-selection class="myGrid"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Client Details</h5>

        <div ibox-tools></div>
    </div>


    <div class="ibox-content">

        <div id="bottomPanel" class="wrapper wrapper-content animated fadeInUpBig">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <div id="clientDetailsGrid" ui-grid="clientDetailGridOptions" ui-grid-pinning
                             ui-grid-expandable
                             class="myGrid"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

-->
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Client Details</h5>

        <div ibox-tools></div>
    </div>

    <div class="tabHeader">
        <tabset>
            <tab heading="First Tab">


                <div class="ibox-content">

                    <div id="bottomPanel3" class="wrapper wrapper-content animated fadeInUpBig">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center m-t-lg">
                                    <div id="clientDetailsGrid3" ui-grid="clientDetailGridOptions" ui-grid-auto-resize
                                         ui-grid-pinning
                                         ui-grid-expandable
                                         class="myTabGrid"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </tab>
            <tab heading="Second Tab">
                <strong>Donec quam felis</strong>

                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks,
                    and
                    grow
                    familiar with the countless indescribable forms of the insects
                    and flies, then I feel the presence of the Almighty, who formed us in his own image, and the
                    breath </p>

                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls
                    like
                    mine. I
                    am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a
                    single
                    stroke at
                    the present moment; and yet.</p>

                <div>
                    Test - Data retrieved via RESTful Web Services:: Name = {{testname}}
                </div>

            </tab>
        </tabset>
    </div>

</div>







