<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Client List</h5>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div id="topPanel" class="wrapper wrapper-content animated fadeInRightBig">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center m-t-sm">
                                <div id="clientGrid" ui-grid="clientGridOptions" ui-grid-pagination ui-grid-selection
                                     class="myGrid"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Client Details</h5>

        <div ibox-tools></div>
    </div>


    <div class="ibox-content">

        <div id="bottomPanel" class="wrapper wrapper-content animated fadeInUpBig">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <div id="clientDetailsGrid" ui-grid="clientDetailGridOptions" ui-grid-pinning
                             ui-grid-expandable
                             class="myGrid"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

-->


<!- ################################################################## -->
<div>
    {{client.fname}} {{client.lname}}
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add New Client Information</h5>

                <div ibox-tools></div>
            </div>

            <div class="ibox-content ">
                <div id="middlePanel" class="wrapper wrapper-content animated fadeInRightBig">
                    <form name="clientForm" method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">First Name</label>
                            <div class="col-md-2">
                                <input type="text" placeholder=".col-md-4" name="fname" ng-minlength=2 ng-maxlength=20
                                                         ng-model="client.fname" required class="form-control">
                                <div role="alert">
                                    <span class="error" ng-show="clientForm.fname.$error.required">Required!</span>
                                    <span class="error" ng-show="clientForm.fname.$error.minlength">Too short!</span>
                                    <span class="error" ng-show="clientForm.fname.$error.maxlength">Too long!</span>
                                </div>
                            </div>

                            <label class="col-sm-2 control-label">Middle Name</label>
                            <div class="col-md-2"><input type="text" placeholder=".col-md-4" name="mname"
                                                         ng-model="client.mname" class="form-control"></div>

                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-md-2"><input type="text" placeholder=".col-md-4" name="lname"
                                                         ng-model="client.lname" required class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Height (lb)</label>

                            <div class="col-md-2"><input type="number" ng-model="client.height" required
                                                         class="form-control"></div>

                            <label class="col-sm-2 control-label">Weight (lb)</label>

                            <div class="col-md-2"><input type="number" ng-model="client.weight" required
                                                         class="form-control"></div>

                            <label class="col-sm-2 control-label">DOB</label>
                            <div class="input-group date">
                                <input type="datetime" class="form-control" date-time ng-model="client.sampleDate" required view="date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="client.height.$error.required">Required!</span>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="client.weight.$error.required">Required!</span>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="client.sampleDate.$error.required">Required!</span>
                        </div>



                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SSN</label>

                            <div class="col-md-2"><input type="text" ng-model="client.ssn" required
                                                         class="form-control"></div>

                            <label class="col-sm-2 control-label">Employer</label>

                            <div class="col-md-2"><input type="text" ng-model="client.employer" required
                                                         class="form-control"></div>

                            <label class="col-sm-2 control-label">Client ID</label>

                            <div class="col-md-2"><input type="text" ng-model="client.clientid" required
                                                         class="form-control"></div>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="client.ssn.$error.required">Required!</span>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="client.employer.$error.required">Required!</span>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="client.clientid.$error.required">Required!</span>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Language</label>

                            <div class="input-group">
                                <select chosen id="states" class="chosen-select" style="width:350px;" tabindex="4"
                                        ng-model="state" ng-options="s for s in main.states">
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Body Type</label>

                            <div class="input-group">
                                <select chosen id="bodyTypes" class="chosen-select" style="width:350px;" tabindex="5"
                                        ng-model="bodyType" ng-options="s for s in main.bodyTypes">
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender</label>

                            <div class="input-group">
                                <select chosen id="genderTypes" class="chosen-select" style="width:350px;" tabindex="6"
                                        ng-model="genderType" ng-options="s for s in main.genderTypes">
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Primary Condition</label>

                            <div class="input-group">
                                <select chosen id="primaryConditions" class="chosen-select" style="width:350px;"
                                        tabindex="7" ng-model="primaryCondition"
                                        ng-options="s for s in main.primaryConditions">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Secondary Condition</label>

                            <div class="input-group">
                                <select chosen id="secondaryConditions" class="chosen-select" style="width:350px;"
                                        tabindex="8" ng-model="secondaryCondition"
                                        ng-options="s for s in main.secondaryConditions">
                                </select>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Time Zone</label>

                            <div class="input-group">
                                <select chosen id="timezones" class="chosen-select" style="width:350px;" tabindex="9"
                                        ng-model="timezone" ng-options="s for s in main.timezones">
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">IVR PIN (four digits min)</label>

                            <div class="col-md-2"><input type="text" placeholder=".col-md-4" class="form-control"></div>
                            <label class="col-sm-2 control-label">NoReadingThreshold (Hours)</label>

                            <div class="col-md-2"><input type="text" placeholder=".col-md-4" class="form-control"></div>
                            <label class="col-sm-2 control-label">Timer Timeout (Hours)</label>

                            <div class="col-md-2"><input type="text" placeholder=".col-md-4" class="form-control"></div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 control-label">Phone Number</label>

                        <div class="col-md-2"><input type="text" placeholder=".col-md-4" class="form-control"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone Type</label>

                            <div class="input-group">
                                <select chosen id="phoneTypes" class="chosen-select" style="width:350px;" tabindex="9"
                                        ng-model="phoneType" ng-options="s for s in main.phoneTypes">
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <label class="col-sm-2 control-label">E-mail Address</label>

                        <div class="col-md-2"><input type="text" placeholder=".col-md-4" class="form-control"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">E-mail Address Types</label>

                            <div class="input-group">
                                <select chosen id="emailaddressTypes" class="chosen-select" style="width:350px;"
                                        tabindex="9" ng-model="emailaddressType"
                                        ng-options="s for s in main.emailaddressTypes">
                                </select>
                            </div>
                        </div>

                        </br>
                        </br>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-5">
                                <button class="btn btn-white" type="submit">Cancel</button>
                                <button class="btn btn-primary" ng-click='SaveNewClient();' type="submit">Save changes
                                </button>
                            </div>
                        </div>

                        <!--

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">Normal</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Help text</label>

                            <div class="col-sm-10"><input type="text" class="form-control"> <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Placeholder</label>

                            <div class="col-sm-10"><input type="text" placeholder="placeholder" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-lg-2 control-label">Disabled</label>

                            <div class="col-lg-10"><input type="text" disabled="" placeholder="Disabled input here..." class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-lg-2 control-label">Static control</label>

                            <div class="col-lg-10"><p class="form-control-static">email@example.com</p></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Checkboxes and radios <br/>
                            <small class="text-navy">Normal Bootstrap elements</small>
                        </label>

                            <div class="col-sm-10">
                                <div class="checkbox"><label> <input type="checkbox" value=""> Option one is this and that&mdash;be sure to include why it's great </label></div>
                                <div class="radio"><label> <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Option one is this and that&mdash;be sure to
                                    include why it's great </label></div>
                                <div class="radio"><label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Option two can be something else and selecting it will
                                    deselect option one </label></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Inline checkboxes</label>

                            <div class="col-sm-10"><label class="checkbox-inline"> <input type="checkbox" value="option1" id="inlineCheckbox1"> a </label> <label class="checkbox-inline">
                                <input type="checkbox" value="option2" id="inlineCheckbox2"> b </label> <label class="checkbox-inline">
                                <input type="checkbox" value="option3" id="inlineCheckbox3"> c </label></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Checkboxes &amp; radios <br/>
                            <small class="text-navy">Custom elements</small>
                        </label>

                            <div class="col-sm-10">
                                <div class="checkbox"><label> <input icheck type="checkbox" ng-model="main.check2"> Option one </label></div>
                                <div class="checkbox"><label> <input icheck type="checkbox" ng-model="main.checkThree"> Option two checked </label></div>
                                <div class="checkbox"><label> <input icheck type="checkbox" ng-model="main.checkTwo" disabled> Option three checked and disabled </label></div>
                                <div class="checkbox"><label> <input icheck type="checkbox" ng-model="main.check4" disabled> Option four disabled </label></div>
                                <div class="radio"><label> <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> Option one </label></div>
                                <div class="radio"><label> <input icheck type="radio" name="radioTest" ng-model="main.check8"> Option two checked </label></div>
                                <div class="radio"><label> <input icheck type="radio" name="radioTestNext" ng-model="main.check8" disabled> Option four disabled </label></div>
                                <div class="radio"><label> <input icheck type="radio" name="radioTestNext" ng-model="main.check9" disabled> Option three checked and disabled</label></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Inline checkboxes</label>

                            <div class="col-sm-10">
                                <label class="checkbox-inline"> <input icheck type="checkbox" ng-model="main.unCheck"> a </label>
                                <label class="checkbox-inline"> <input icheck type="checkbox" ng-model="main.unCheck"> b </label>
                                <label class="checkbox-inline"> <input icheck type="checkbox" ng-model="main.unCheck"> c </label></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Select</label>

                            <div class="col-sm-10"><select class="form-control m-b" name="account">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>

                                <div class="col-lg-4 m-l-n"><select class="form-control" multiple="">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-success"><label class="col-sm-2 control-label">Input with success</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-warning"><label class="col-sm-2 control-label">Input with warning</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-error"><label class="col-sm-2 control-label">Input with error</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Control sizing</label>

                            <div class="col-sm-10"><input type="text" placeholder=".input-lg" class="form-control input-lg m-b">
                                <input type="text" placeholder="Default input" class="form-control m-b"> <input type="text" placeholder=".input-sm" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Column sizing</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-2"><input type="text" placeholder=".col-md-2" class="form-control"></div>
                                    <div class="col-md-3"><input type="text" placeholder=".col-md-3" class="form-control"></div>
                                    <div class="col-md-4"><input type="text" placeholder=".col-md-4" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Input groups</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b"><span class="input-group-addon">@</span> <input type="text" placeholder="Username" class="form-control"></div>
                                <div class="input-group m-b"><input type="text" class="form-control"> <span class="input-group-addon">.00</span></div>
                                <div class="input-group m-b"><span class="input-group-addon">$</span> <input type="text" class="form-control"> <span class="input-group-addon">.00</span></div>
                                <div class="input-group m-b"><span class="input-group-addon"> <input type="checkbox"> </span> <input type="text" class="form-control"></div>
                                <div class="input-group"><span class="input-group-addon"> <input type="radio"> </span> <input type="text" class="form-control"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Button addons</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b"><span class="input-group-btn">
                                                <button type="button" class="btn btn-primary">Go!</button> </span> <input type="text" class="form-control">
                                </div>
                                <div class="input-group"><input type="text" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-primary">Go!
                                </button> </span></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">With dropdowns</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn" dropdown>
                                        <button class="btn btn-white dropdown-toggle" dropdown-toggle type="button">Action <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="">Action</a></li>
                                            <li><a href="">Another action</a></li>
                                            <li><a href="">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control"></div>
                                <div class="input-group"><input type="text" class="form-control">

                                    <div class="input-group-btn" dropdown>
                                        <button class="btn btn-white dropdown-toggle" dropdown-toggle type="button">Action <span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="">Action</a></li>
                                            <li><a href="">Another action</a></li>
                                            <li><a href="">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Segmented</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn" dropdown>
                                        <button tabindex="-1" class="btn btn-white" type="button">Action</button>
                                        <button class="btn btn-white dropdown-toggle" dropdown-toggle type="button"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="">Action</a></li>
                                            <li><a href="">Another action</a></li>
                                            <li><a href="">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control"></div>
                                <div class="input-group"><input type="text" class="form-control">


                                    <div class="input-group-btn" dropdown>
                                        <button tabindex="-1" class="btn btn-white" type="button">Action</button>
                                        <button class="btn btn-white dropdown-toggle" dropdown-toggle type="button"><span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="">Action</a></li>
                                            <li><a href="">Another action</a></li>
                                            <li><a href="">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">Cancel</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!- ################################################################## -->

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Client Details</h5>

        <div ibox-tools></div>
    </div>

    <div class="tabHeader">
        <tabset>
            <tab heading="First Tab">


                <div class="ibox-content">

                    <div id="bottomPanel3" class="wrapper wrapper-content animated fadeInUpBig">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center m-t-lg">
                                    <div id="clientDetailsGrid3" ui-grid="clientDetailGridOptions" ui-grid-auto-resize
                                         ui-grid-pinning
                                         ui-grid-expandable
                                         class="myTabGrid"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </tab>
            <tab heading="Second Tab">
                <strong>Donec quam felis</strong>

                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks,
                    and
                    grow
                    familiar with the countless indescribable forms of the insects
                    and flies, then I feel the presence of the Almighty, who formed us in his own image, and the
                    breath </p>

                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls
                    like
                    mine. I
                    am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a
                    single
                    stroke at
                    the present moment; and yet.</p>

                <div>
                    Test - Data retrieved via RESTful Web Services:: Name = {{testname}}
                </div>

            </tab>
        </tabset>
    </div>

</div>







