<!-- <div class="container" xmlns="http://www.w3.org/1999/html">
    <h3>Patient Details</h3>

    <div id="grid1" ui-grid="gridOptions" ui-grid-pinning ui-grid-expandable class="grid"></div>
    </br>
    {{myData[1].metric}}
</div> -->


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Patient Details
                </h1>
                <small>Configure in config.js as minor state.</small>
                </br>
                </br>
                <div id="grid1" ui-grid="gridOptions" ui-grid-pinning ui-grid-expandable class="grid"></div>
            </div>
        </div>
    </div>
</div>